/*Screen for Desktop screens */ 
@media screen and (min-width: 1200px) {
  .tablet-homepage{
    display: none;
  }
  .phone-homepage{
    display: none;
  }
  .revridge8 {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .revridge-wrapper6 {
    position: absolute;
    top: 61px;
    left: 116px;
    width: 109px;
    height: 44px;
  }
  .home2,
  .portfolio2 {
    flex: 1;
    position: relative;
    font-weight: 500;
  }
  .portfolio2 {
    cursor: pointer;
  }
  .links2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .search-normal-icon2 {
    position: relative;
    width: 16px;
    height: 16px;
    object-fit: cover;
  }
  .search-for-stocks2 {
    flex: 1;
    position: relative;
  }
  .search-bar2 {
    flex: 1;
    border-radius: var(--br-5xs);
    background-color: var(--color-whitesmoke-100);
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-smi);
    box-sizing: border-box;
    gap: var(--gap-mid);
  }
  .account-icon-inner {
    position: relative;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
  .account-icon2 {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs);
  }
  .navbar2,
  .searchandaccount2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .searchandaccount2 {
    flex: 1;
    justify-content: center;
    gap: var(--gap-31xl);
    font-size: var(--font-size-sm);
    color: var(--color-darkgray);
  }
  .navbar2 {
    position: absolute;
    width: calc(100% - 531px);
    top: 38px;
    right: 0;
    left: 531px;
    height: 107px;
    justify-content: space-between;
    padding: var(--padding-mini) var(--padding-xl);
    box-sizing: border-box;
    font-size: var(--font-size-lg);
    color: var(--color-black);
  }
  .balance2 {
    position: relative;
    font-weight: 500;
  }
  .wrapper20 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-whitesmoke-200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-3xs) var(--padding-base)
      var(--padding-xl);
  }
  .frame-wrapper52 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
  }
  .balance-container,
  .frame-wrapper52,
  .wrapper21 {
    align-self: stretch;
    display: flex;
  }
  .balance-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    text-align: center;
    font-size: var(--font-size-sm);
  }
  .wrapper21 {
    border-radius: var(--br-5xs);
    background-color: var(--color-gray);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-base) 0 var(--padding-base) var(--padding-xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .top-stocks3 {
    position: relative;
    font-weight: 500;
    color: var(--color-black);
  }
  .amazon-wrapper3 {
    width: 62px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .amzn5,
  .div55 {
    position: relative;
    text-transform: uppercase;
  }
  .div55 {
    color: var(--color-yellowgreen);
  }
  .amzn-parent3 {
    width: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
  }
  .frame-parent49,
  .frame-wrapper53 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .frame-wrapper53 {
    border: 1px solid var(--color-black);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs) var(--padding-xs);
  }
  .div57 {
    position: relative;
    text-transform: uppercase;
    color: var(--color-yellowgreen);
    display: inline-block;
    width: 38px;
  }
  .frame-parent48,
  .nvidia-frame {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  .frame-parent48 {
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    height: 834px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-xl) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-xl);
  }
  .nvidia-frame {
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
  }
  .nvda-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
  }
  .frame-parent57 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .div61 {
    flex: 1;
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
  }
  .frame-wrapper58 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-lg);
  }
  .frame-parent56,
  .frame-wrapper58,
  .meta-frame {
    display: flex;
    align-items: center;
  }
  .frame-parent56 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-whitesmoke-200);
    height: 100px;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-base) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-base);
  }
  .meta-frame {
    flex: 1;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .div62,
  .meta5 {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
  }
  .div62 {
    color: var(--color-yellowgreen);
  }
  .frame-wrapper59 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size-lg);
  }
  .frame-parent55,
  .my-stocks-frame {
    position: absolute;
    display: flex;
    align-items: center;
  }
  .frame-parent55 {
    width: calc(100% + 0.5px);
    top: 48px;
    right: -0.5px;
    left: 0;
    height: 372px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 var(--padding-mini);
    box-sizing: border-box;
    gap: var(--gap-17xl);
  }
  .my-stocks-frame {
    top: 3px;
    left: 0.9px;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-3xs);
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-readex-pro);
  }
  .frame-parent54 {
    flex: 1;
    position: relative;
    height: 420px;
  }
  .frame-parent47 {
    position: absolute;
    width: calc(100% - 749px);
    top: 196px;
    right: 749px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
    gap: var(--gap-42xl);
    font-size: var(--font-size-xs);
  }
  .homepage {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1161px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-gray);
    font-family: var(--font-tomorrow);
  }
}








/*Screen for Phone screens */
@media screen and (max-width: 767px) {
  .homepage{
    display: none;
  }
  .tablet-homepage{
    display: none;
  }
  .revridge6 {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .revridge-wrapper4 {
    position: absolute;
    top: 61px;
    left: 25px;
    width: 109px;
    height: 44px;
  }
  .balance,
  .div27 {
    position: relative;
    font-weight: 500;
  }
  .div27 {
    flex: 1;
  }
  .wrapper10 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-whitesmoke-200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-3xs) var(--padding-base)
      var(--padding-xl);
  }
  .frame-wrapper34 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
  }
  .balance-parent,
  .frame-wrapper34,
  .wrapper11 {
    align-self: stretch;
    display: flex;
  }
  .balance-parent {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    text-align: center;
    font-size: var(--font-size-sm);
  }
  .wrapper11 {
    border-radius: var(--br-5xs);
    background-color: var(--color-gray);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-base) 0 var(--padding-base) var(--padding-xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .top-stocks1 {
    position: relative;
    font-weight: 500;
    color: var(--color-black);
  }
  .amazon-wrapper1 {
    width: 62px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .div29 {
    position: relative;
    text-transform: uppercase;
    color: var(--color-yellowgreen);
  }
  .amzn-parent1 {
    width: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
  }
  .frame-parent19,
  .frame-wrapper35 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .frame-wrapper35 {
    border: 1px solid var(--color-black);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs) var(--padding-xs);
  }
  .div31 {
    position: relative;
    text-transform: uppercase;
    color: var(--color-yellowgreen);
    display: inline-block;
    width: 38px;
  }
  .frame-parent18,
  .nvidia-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  .frame-parent18 {
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    height: 834px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-xl) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-xl);
  }
  .nvidia-wrapper {
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
  }
  .nvda {
    position: relative;
    text-transform: uppercase;
  }
  .nvda-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
  }
  .frame-parent27 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .div35 {
    flex: 1;
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
  }
  .frame-wrapper40 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-lg);
  }
  .frame-parent26,
  .frame-wrapper40,
  .meta-wrapper {
    display: flex;
    align-items: center;
  }
  .frame-parent26 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-whitesmoke-200);
    height: 100px;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-base) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-base);
  }
  .meta-wrapper {
    flex: 1;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .div36 {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
    color: var(--color-yellowgreen);
  }
  .frame-wrapper41 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size-lg);
  }
  .aapl {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
  }
  .frame-parent25,
  .my-stocks-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
  }
  .frame-parent25 {
    width: calc(100% + 0.5px);
    top: 48px;
    right: -0.5px;
    left: 0;
    height: 372px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 var(--padding-mini);
    box-sizing: border-box;
    gap: var(--gap-17xl);
  }
  .my-stocks-wrapper {
    top: 3px;
    left: 0.9px;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-3xs);
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-readex-pro);
  }
  .frame-parent24 {
    flex: 1;
    position: relative;
    height: 420px;
  }
  .frame-parent17 {
    position: absolute;
    width: 100%;
    top: 146px;
    right: 0;
    left: 0;
    height: 622px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
    gap: var(--gap-42xl);
    font-size: var(--font-size-xs);
  }
  .burger-menu-1-1-icon4 {
    position: absolute;
    width: calc(100% - 455px);
    top: 67px;
    right: 27px;
    left: 428px;
    max-width: 100%;
    overflow: hidden;
    height: 32px;
    object-fit: cover;
  }
  .phone-homepage {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 768px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-gray);
    font-family: var(--font-tomorrow);
  }
  
}



/*Screen for tablet screens*/ 
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .homepage{
    display: none;
  }
  .phone-homepage{
    display: none;
  }
  .revridge7 {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .revridge-wrapper5 {
    position: absolute;
    top: 61px;
    left: 50px;
    width: 109px;
    height: 44px;
  }
  .balance1,
  .div40 {
    position: relative;
    font-weight: 500;
  }
  .div40 {
    flex: 1;
  }
  .wrapper15 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-whitesmoke-200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-3xs) var(--padding-base)
      var(--padding-xl);
  }
  .frame-wrapper43 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
  }
  .balance-group,
  .frame-wrapper43,
  .wrapper16 {
    align-self: stretch;
    display: flex;
  }
  .balance-group {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    text-align: center;
    font-size: var(--font-size-sm);
  }
  .wrapper16 {
    border-radius: var(--br-5xs);
    background-color: var(--color-gray);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-base) 0 var(--padding-base) var(--padding-xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .top-stocks2 {
    position: relative;
    font-weight: 500;
    color: var(--color-black);
  }
  .amazon-wrapper2 {
    width: 62px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .amzn4,
  .div42 {
    position: relative;
    text-transform: uppercase;
  }
  .div42 {
    color: var(--color-yellowgreen);
  }
  .amzn-parent2 {
    width: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
  }
  .frame-parent34,
  .frame-wrapper44 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .frame-wrapper44 {
    border: 1px solid var(--color-black);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs) var(--padding-xs);
  }
  .div44 {
    position: relative;
    text-transform: uppercase;
    color: var(--color-yellowgreen);
    display: inline-block;
    width: 38px;
  }
  .frame-parent33,
  .nvidia-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  .frame-parent33 {
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    height: 834px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-xl) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-xl);
  }
  .nvidia-container {
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
  }
  .nvda-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
  }
  .frame-parent42 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .div48 {
    flex: 1;
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
  }
  .frame-parent41,
  .frame-wrapper49 {
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  .frame-wrapper49 {
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-lg);
  }
  .frame-parent41 {
    border-radius: var(--br-5xs);
    background-color: var(--color-whitesmoke-200);
    height: 100px;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-base) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-base);
  }
  .meta-container {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .div49,
  .meta3 {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
  }
  .div49 {
    color: var(--color-yellowgreen);
  }
  .frame-wrapper50 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size-lg);
  }
  .frame-parent40,
  .my-stocks-container {
    position: absolute;
    display: flex;
    align-items: center;
  }
  .frame-parent40 {
    width: 100%;
    top: 48px;
    right: 0;
    left: 0;
    height: 372px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 var(--padding-mini);
    box-sizing: border-box;
    gap: var(--gap-17xl);
  }
  .my-stocks-container {
    top: 3px;
    left: 0.9px;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-3xs);
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-readex-pro);
  }
  .frame-parent39 {
    flex: 1;
    position: relative;
    height: 420px;
  }
  .frame-parent32 {
    position: absolute;
    width: 100%;
    top: 146px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
    gap: var(--gap-42xl);
    font-size: var(--font-size-xs);
  }
  .burger-menu-1-1-icon5 {
    position: absolute;
    width: calc(100% - 709px);
    top: 67px;
    right: 37px;
    left: 672px;
    max-width: 100%;
    overflow: hidden;
    height: 32px;
    object-fit: cover;
  }
  .tablet-homepage {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 991px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-gray);
    font-family: var(--font-tomorrow);
  }
  
  
  
}
