.revridge3 {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.revridge-wrapper1 {
  position: absolute;
  top: 61px;
  left: 25px;
  width: 109px;
  height: 44px;
}
.top-stocks {
  color: var(--color-black);
}
.amazon,
.top-stocks {
  position: relative;
  font-weight: 500;
}
.amazon-wrapper {
  width: 62px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.amzn,
.div12 {
  position: relative;
  text-transform: uppercase;
}
.div12 {
  color: var(--color-yellowgreen);
}
.amzn-parent {
  width: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}
.frame-parent2,
.frame-wrapper19 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-wrapper19 {
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xs);
}
.div14 {
  position: relative;
  text-transform: uppercase;
  color: var(--color-yellowgreen);
  display: inline-block;
  width: 38px;
}
.phone-portfolio-page-inner,
.top-stocks-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.top-stocks-parent {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  height: 622px;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-xs);
  gap: var(--gap-xl);
}
.phone-portfolio-page-inner {
  position: absolute;
  width: calc(100% - 125px);
  top: 146px;
  right: 125px;
  left: 0;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  font-size: var(--font-size-xs);
}
.burger-menu-1-1-icon2 {
  position: absolute;
  width: calc(100% - 455px);
  top: 67px;
  right: 27px;
  left: 428px;
  max-width: 100%;
  overflow: hidden;
  height: 32px;
  object-fit: cover;
}
.phone-portfolio-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 768px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
  font-family: var(--font-tomorrow);
}
